:host {
  display: block;
  stroke: currentColor;
  fill: currentColor;
  font-weight: 300;
  line-height: 1.25;
  font-family: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;
}

:host([color='signature-purple1']) {
  --text-opacity: 1;
  color: rgb(140, 92, 242);
  color: rgba(140, 92, 242, var(--text-opacity));
}

:host([color='signature-blue1']) {
  --text-opacity: 1;
  color: rgb(33, 74, 222);
  color: rgba(33, 74, 222, var(--text-opacity));
}

:host([color='signature-aqua1']) {
  --text-opacity: 1;
  color: rgb(0, 162, 199);
  color: rgba(0, 162, 199, var(--text-opacity));
}

:host([color='signature-green1']) {
  --text-opacity: 1;
  color: rgb(22, 168, 55);
  color: rgba(22, 168, 55, var(--text-opacity));
}
