.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i2sqd {
  font-size: 1em;
  line-height: 16px;
  color: rgb(51, 51, 51);
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  background-color: rgb(247, 196, 92);
  display: inline-block;
  text-transform: uppercase;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(247, 196, 92);
  border-right-color: rgb(247, 196, 92);
  border-bottom-color: rgb(247, 196, 92);
  border-left-color: rgb(247, 196, 92);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: BrandonGrotesque-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #idjow {
  position: absolute;
  top: 15px;
  right: 35px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iu966 {
  position: relative;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ip3h4 {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i8r5i {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i7ezk {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i06pf {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i4bwj7 {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #idvfng {
  font-size: 1.5em;
  line-height: 28px;
  color: rgb(29, 55, 102);
  letter-spacing: 0.63px;
  font-family: BrandonText-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #inp60q {
  margin-bottom: 16px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i5oblj {
  font-size: 1.3em;
  line-height: 25px;
  color: rgb(51, 51, 51);
  font-family: BrandonText-Regular;
  letter-spacing: 0.5px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqq6bv {
  margin-bottom: 11px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #in1mdj {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iijwof {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(26, 127, 147);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #io442l {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: -15px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  position: relative;
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ir2b83 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ibn8ye {
  font-size: 1em;
  line-height: 16px;
  color: rgb(51, 51, 51);
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  background-color: rgb(247, 196, 92);
  display: inline-block;
  text-transform: uppercase;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(247, 196, 92);
  border-right-color: rgb(247, 196, 92);
  border-bottom-color: rgb(247, 196, 92);
  border-left-color: rgb(247, 196, 92);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: BrandonGrotesque-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i0mxxf {
  position: absolute;
  top: 15px;
  right: 35px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i3i2fk {
  position: relative;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #igcxrf {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ilvhn8 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i9wa27 {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iwl51s {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #imv8y3 {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #imq2zj {
  font-size: 1.5em;
  line-height: 28px;
  color: rgb(29, 55, 102);
  letter-spacing: 0.63px;
  font-family: BrandonText-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i55i5k {
  margin-bottom: 16px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #idrspt {
  font-size: 1.3em;
  line-height: 25px;
  color: rgb(51, 51, 51);
  font-family: BrandonText-Regular;
  letter-spacing: 0.5px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i6zq8j {
  margin-bottom: 11px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #inldal {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i60v51 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(26, 127, 147);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i7enp2 {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: -15px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  position: relative;
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ikgdwx {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 .slick-slide {
  width: 895px !important;
  min-width: 895px !important;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7
  .feature-article-slider
  .next.slick-arrow {
  right: -6rem;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7
  .slick-slide.slide-active {
  width: 895px;
  min-width: 895px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 .slick-arrow {
  top: 45%;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iebnf.slick-arrow {
  top: 45%;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7
  #iebnf
  .slick-arrow {
  top: 45%;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i8pj {
  font-size: 2.1em;
  color: rgb(51, 51, 51);
  line-height: 43px;
  font-family: BrandonGrotesque-Regular;
  letter-spacing: 0.88px;
  margin-bottom: 6px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #if9d {
  line-height: 30px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ilasy {
  text-align: end;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ih1g {
  padding-top: 14px;
  padding-right: 66px;
  padding-bottom: 14px;
  padding-left: 66px;
  display: inline-block;
  background-color: rgb(26, 127, 147);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(26, 127, 147);
  border-right-color: rgb(26, 127, 147);
  border-bottom-color: rgb(26, 127, 147);
  border-left-color: rgb(26, 127, 147);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 1em;
  color: rgb(255, 255, 255);
  line-height: 16px;
  text-transform: uppercase;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ih1g:hover {
  background-color: rgb(20, 95, 110);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(20, 95, 110);
  border-right-color: rgb(20, 95, 110);
  border-bottom-color: rgb(20, 95, 110);
  border-left-color: rgb(20, 95, 110);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ipah {
  justify-content: center;
  margin-bottom: 33px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i8b7 {
  margin-left: -60px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ittj {
  right: 65px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #if9d-2 {
  font-size: 1.3em;
  line-height: 25px;
  color: rgb(51, 51, 51);
  font-family: BrandonText-Regular;
  letter-spacing: 0.5px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #icenf {
  font-size: 1em;
  line-height: 16px;
  color: rgb(51, 51, 51);
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  background-color: rgb(247, 196, 92);
  display: inline-block;
  text-transform: uppercase;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(247, 196, 92);
  border-right-color: rgb(247, 196, 92);
  border-bottom-color: rgb(247, 196, 92);
  border-left-color: rgb(247, 196, 92);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: BrandonGrotesque-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ilimm {
  position: absolute;
  top: 15px;
  right: 65px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i3lhb {
  position: relative;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ighjj {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #irxbi {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iknhv7 {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ib0ucn {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqecwx {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqbape {
  font-size: 1.5em;
  line-height: 28px;
  color: rgb(29, 55, 102);
  letter-spacing: 0.63px;
  font-family: BrandonText-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iwq327 {
  margin-bottom: 16px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i3lhvp {
  font-size: 1.3em;
  line-height: 25px;
  color: rgb(51, 51, 51);
  font-family: BrandonText-Regular;
  letter-spacing: 0.5px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #inwvh4 {
  margin-bottom: 11px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i1se3j {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iauajl {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(26, 127, 147);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ik0064 {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: -60px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  position: relative;
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iz0l1r {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ig25wp {
  font-size: 1em;
  line-height: 16px;
  color: rgb(51, 51, 51);
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  background-color: rgb(247, 196, 92);
  display: inline-block;
  text-transform: uppercase;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(247, 196, 92);
  border-right-color: rgb(247, 196, 92);
  border-bottom-color: rgb(247, 196, 92);
  border-left-color: rgb(247, 196, 92);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: BrandonGrotesque-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ixl47i {
  position: absolute;
  top: 15px;
  right: 65px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i48nct {
  position: relative;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #izlx6x {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i26syf {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iplrwm {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #im7m1n {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i77kyq {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ibgncn {
  font-size: 1.5em;
  line-height: 28px;
  color: rgb(29, 55, 102);
  letter-spacing: 0.63px;
  font-family: BrandonText-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #idinf4 {
  margin-bottom: 16px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i7doql {
  font-size: 1.3em;
  line-height: 25px;
  color: rgb(51, 51, 51);
  font-family: BrandonText-Regular;
  letter-spacing: 0.5px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iwfw4v {
  margin-bottom: 11px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i60qt9 {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i229b8 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(26, 127, 147);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ic7n7g {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: -60px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  position: relative;
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iq61hk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ihnl0x {
  font-size: 1em;
  line-height: 16px;
  color: rgb(51, 51, 51);
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  background-color: rgb(247, 196, 92);
  display: inline-block;
  text-transform: uppercase;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(247, 196, 92);
  border-right-color: rgb(247, 196, 92);
  border-bottom-color: rgb(247, 196, 92);
  border-left-color: rgb(247, 196, 92);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-family: BrandonGrotesque-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i5zamd {
  position: absolute;
  top: 15px;
  right: 65px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #id6btu {
  position: relative;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqf5t8 {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iekq6b {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqh56b {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ig7u09 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(111, 114, 118);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ir9ud3 {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iu4e9s {
  font-size: 1.5em;
  line-height: 28px;
  color: rgb(29, 55, 102);
  letter-spacing: 0.63px;
  font-family: BrandonText-Medium;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ig4jt8 {
  margin-bottom: 16px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iz5krf {
  font-size: 1.3em;
  line-height: 25px;
  color: rgb(51, 51, 51);
  font-family: BrandonText-Regular;
  letter-spacing: 0.5px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i5sa71 {
  margin-bottom: 11px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ik2l0o {
  width: 14px;
  height: 14px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i9brko {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  font-size: 1em;
  line-height: 16px;
  color: rgb(26, 127, 147);
  text-transform: uppercase;
  font-family: BrandonGrotesque-Medium;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  letter-spacing: 1.2px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i8chn7 {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: -60px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: white;
  position: relative;
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iggmpc {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iadig {
  max-width: 1485px;
}
.article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqog {
  padding-top: 44px;
}
@media not all {
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7
    .d-flex.align-items-center {
    font-family: "Brandon Grotesque", Bold;
  }
}
@media (max-width: 1200px) {
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #idvfng {
    font-size: 1.75em;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #imq2zj {
    font-size: 1.75em;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iqbape {
    font-size: 1.75em;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ibgncn {
    font-size: 1.75em;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iu4e9s {
    font-size: 1.75em;
  }
}
@media only screen and (max-width: 992px) {
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #io442l {
    width: 100%;
    margin-right: 11px;
    margin-left: 11px;
    margin-top: -11px;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ir2b83 {
    display: flex;
    flex-direction: column;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i7enp2 {
    width: 100%;
    margin-right: 11px;
    margin-left: 11px;
    margin-top: -11px;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ikgdwx {
    display: flex;
    flex-direction: column;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7
    .feature-article-slider
    .next.slick-arrow {
    right: 1rem;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 .slick-slide {
    width: unset;
    min-width: unset;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ik0064 {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -16px;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iz0l1r {
    display: flex;
    flex-direction: column;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #ic7n7g {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -16px;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iq61hk {
    display: flex;
    flex-direction: column;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #i8chn7 {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -16px;
  }
  .article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7 #iggmpc {
    display: flex;
    flex-direction: column;
  }
}
