{% if article_slider_module_qsde %}
  <div class="bootstrap-styles article-slider-module-27120c6b-c133-562c-244f-8f6ea607d3a7">
    <div id="iqog">
      <div id="iid3">
        <div class="container">
          <div id="ipah" class="row">
            <div id="igod5" class="col-lg-9 col-12">
              <div id="i4csi">
                <h2 id="i8pj">
                  CURABITUR CONSEQUAT SEM AC PRETIUM
                </h2>
                <div id="ixp63">
                  <p id="if9d">
                    Sed ligula lacus, gravida ac dui ut, bibendum lacinia magna.
                    Mauris nec lorem tincidunt nunc finibus imperdiet. Praesent
                    ipsum tortor, tempor quis tristique vitae, egestas eu mi.
                  </p>
                </div>
              </div>
            </div>
            <div id="ilasy" class="col-lg-3 col-12">
              <div id="i6zej">
                <a href="#" id="ih1g">View ALL</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="icfsm">
        <div id="iadig" class="container-fluid">
          <div class="row">
            <div id="iebnf" class="col-12 feature-article-slider">
              <div id="iefwv">
                <div id="iekq">
                  <div id="irm8" class="row">
                    <div id="iu6n" class="col-lg-7 co-12">
                      <div id="ib05s">
                        {% include 'atoms/image/image--image-with-star-tag.twig' with {} %}
                      </div>
                    </div>
                    <div id="i8b7" class="col-lg-5 co-12">
                      <div id="if632">
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/calendar.svg"
                            id="il8c" /><p id="ij1y">
                            JULY 6, 2023
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/clock.svg"
                            id="il8c-2" /><p id="ij1y-2">
                            12MIN READ
                          </p>
                        </div>
                      </div>
                      <div id="iz8cc">
                        <div id="iipjf">
                          <h3 id="i9zw">
                            Our 6 Favorite Eastern Caribbean Cruise Ports
                          </h3>
                        </div>
                        <div id="iylrr">
                          <p id="if9d-2">
                            Whether you’re planning a cruise or have already
                            booked your Christian travel experience in this
                            storied region, you’re in for an …
                          </p>
                        </div>
                        <div id="iizuy">
                          <div class="d-flex align-items-center">
                            <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/book-reader%202.svg"
                              id="il8c-3" /><a id="ij1y-3" href="#">
                              READ STORY
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="ibobha">
                <div>
                  <div id="iggmpc" class="row">
                    <div id="ii7m6r" class="col-lg-7 co-12">
                      <div>
                        {% include 'atoms/image/image--image-with-star-tag.twig' with {} %}
                      </div>
                    </div>
                    <div id="i8chn7" class="col-lg-5 co-12">
                      <div id="ir9ud3">
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/calendar.svg"
                            id="iqf5t8" /><p id="iekq6b">
                            JULY 6, 2023
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/clock.svg"
                            id="iqh56b" /><p id="ig7u09">
                            12MIN READ
                          </p>
                        </div>
                      </div>
                      <div>
                        <div id="ig4jt8">
                          <h3 id="iu4e9s">
                            Our 6 Favorite Eastern Caribbean Cruise Ports
                          </h3>
                        </div>
                        <div id="i5sa71">
                          <p id="iz5krf">
                            Whether you’re planning a cruise or have already
                            booked your Christian travel experience in this
                            storied region, you’re in for an …
                          </p>
                        </div>
                        <div>
                          <div class="d-flex align-items-center">
                            <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/book-reader%202.svg"
                              id="ik2l0o" /><a href="#" id="i9brko">
                              READ STORY
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="ifaf1l">
                <div>
                  <div id="iq61hk" class="row">
                    <div id="ipqy85" class="col-lg-7 co-12">
                      <div>
                        {% include 'atoms/image/image--image-with-star-tag.twig' with {} %}
                      </div>
                    </div>
                    <div id="ic7n7g" class="col-lg-5 co-12">
                      <div id="i77kyq">
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/calendar.svg"
                            id="izlx6x" /><p id="i26syf">
                            JULY 6, 2023
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/clock.svg"
                            id="iplrwm" /><p id="im7m1n">
                            12MIN READ
                          </p>
                        </div>
                      </div>
                      <div id="irx92i">
                        <div id="idinf4">
                          <h3 id="ibgncn">
                            Our 6 Favorite Eastern Caribbean Cruise Ports
                          </h3>
                        </div>
                        <div id="iwfw4v">
                          <p id="i7doql">
                            Whether you’re planning a cruise or have already
                            booked your Christian travel experience in this
                            storied region, you’re in for an …
                          </p>
                        </div>
                        <div>
                          <div class="d-flex align-items-center">
                            <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/book-reader%202.svg"
                              id="i60qt9" /><a href="#" id="i229b8">
                              READ STORY
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="ijsnru">
                <div>
                  <div id="iz0l1r" class="row">
                    <div id="i2yvs" class="col-lg-7 co-12">
                      <div>
                        {% include 'atoms/image/image--image-with-star-tag.twig' with {} %}
                      </div>
                    </div>
                    <div id="ik0064" class="col-lg-5 co-12">
                      <div id="iqecwx">
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/calendar.svg"
                            id="ighjj" /><p id="irxbi">
                            JULY 6, 2023
                          </p>
                        </div>
                        <div class="d-flex align-items-center">
                          <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/clock.svg"
                            id="iknhv7" /><p id="ib0ucn">
                            12MIN READ
                          </p>
                        </div>
                      </div>
                      <div>
                        <div id="iwq327">
                          <h3 id="iqbape">
                            Our 6 Favorite Eastern Caribbean Cruise Ports
                          </h3>
                        </div>
                        <div id="inwvh4">
                          <p id="i3lhvp">
                            Whether you’re planning a cruise or have already
                            booked your Christian travel experience in this
                            storied region, you’re in for an …
                          </p>
                        </div>
                        <div>
                          <div class="d-flex align-items-center">
                            <img src="https://dev-fragmatic-builder-node.oslabs.app/public/assets/book-reader%202.svg"
                              id="i1se3j" /><a href="#" id="iauajl">
                              READ STORY
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
