:host {
  display: block;
  position: relative;
}

/* Allows for mousenter to cover the gap from menu item to dropdown */

.content-buffer {
  display: none
}

@media (min-width: 1024px) {

.content-buffer {
    position: absolute;

    padding-top: 0.75rem;

    display: none;

    --transform-translate-x: 0;

    --transform-translate-y: 0;

    --transform-rotate: 0;

    --transform-skew-x: 0;

    --transform-skew-y: 0;

    --transform-scale-x: 1;

    --transform-scale-y: 1;

    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));

    --transform-translate-x: -4.5rem;

    top: 100%
}
  }

/* Actual content block that shows on hover*/

.content {
  margin-top: 1rem;
  padding-left: 1rem
}

@media (min-width: 1024px) {

.content {
    padding: 1.5rem;

    padding-bottom: 2rem;

    --bg-opacity: 1;

    background-color: rgb(255, 255, 255);

    background-color: rgba(255, 255, 255, var(--bg-opacity));

    min-width: 200px;

    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06)
}
  }

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-caret {
  width: 0.5rem
}

@media (min-width: 1024px) {

.mobile-caret {
    display: none
}
  }

.caret-open {
  width: 0.75rem;
}

/* Show the content within .content-buffer */

.show {
  display: block;
}
