:host {
  display: block;
}

aes-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  height: 100%;
}

:host([gap-size='large']) aes-container {
  grid-gap: 4rem;
  grid-gap: 4rem;
  gap: 4rem;
}

:host([gap-size='medium']) aes-container {
  grid-gap: 2.5rem;
  grid-gap: 2.5rem;
  gap: 2.5rem;
}

:host([gap-size='small']) aes-container {
  grid-gap: 1rem;
  grid-gap: 1rem;
  gap: 1rem;
}

:host([gap-size='none']) aes-container {
  grid-gap: 0;
  grid-gap: 0;
  gap: 0;
}

@media (min-width: 640px) {

:host([gap-size-sm='large']) aes-container {
    grid-gap: 4rem;

    grid-gap: 4rem;

    gap: 4rem
}
  }

@media (min-width: 640px) {

:host([gap-size-sm='medium']) aes-container {
    grid-gap: 2.5rem;

    grid-gap: 2.5rem;

    gap: 2.5rem
}
  }

@media (min-width: 640px) {

:host([gap-size-sm='small']) aes-container {
    grid-gap: 1rem;

    grid-gap: 1rem;

    gap: 1rem
}
  }

@media (min-width: 640px) {

:host([gap-size-sm='none']) aes-container {
    grid-gap: 0;

    grid-gap: 0;

    gap: 0
}
  }

@media (min-width: 768px) {

:host([gap-size-md='large']) aes-container {
    grid-gap: 4rem;

    grid-gap: 4rem;

    gap: 4rem
}
  }

@media (min-width: 768px) {

:host([gap-size-md='medium']) aes-container {
    grid-gap: 2.5rem;

    grid-gap: 2.5rem;

    gap: 2.5rem
}
  }

@media (min-width: 768px) {

:host([gap-size-md='small']) aes-container {
    grid-gap: 1rem;

    grid-gap: 1rem;

    gap: 1rem
}
  }

@media (min-width: 768px) {

:host([gap-size-md='none']) aes-container {
    grid-gap: 0;

    grid-gap: 0;

    gap: 0
}
  }

@media (min-width: 1024px) {

:host([gap-size-lg='large']) aes-container {
    grid-gap: 4rem;

    grid-gap: 4rem;

    gap: 4rem
}
  }

@media (min-width: 1024px) {

:host([gap-size-lg='medium']) aes-container {
    grid-gap: 2.5rem;

    grid-gap: 2.5rem;

    gap: 2.5rem
}
  }

@media (min-width: 1024px) {

:host([gap-size-lg='small']) aes-container {
    grid-gap: 1rem;

    grid-gap: 1rem;

    gap: 1rem
}
  }

@media (min-width: 1024px) {

:host([gap-size-lg='none']) aes-container {
    grid-gap: 0;

    grid-gap: 0;

    gap: 0
}
  }

@media (min-width: 1280px) {

:host([gap-size-xl='large']) aes-container {
    grid-gap: 4rem;

    grid-gap: 4rem;

    gap: 4rem
}
  }

@media (min-width: 1280px) {

:host([gap-size-xl='medium']) aes-container {
    grid-gap: 2.5rem;

    grid-gap: 2.5rem;

    gap: 2.5rem
}
  }

@media (min-width: 1280px) {

:host([gap-size-xl='small']) aes-container {
    grid-gap: 1rem;

    grid-gap: 1rem;

    gap: 1rem
}
  }

@media (min-width: 1280px) {

:host([gap-size-xl='none']) aes-container {
    grid-gap: 0;

    grid-gap: 0;

    gap: 0
}
  }

@media (min-width: 1440px) {

:host([gap-size-xxl='large']) aes-container {
    grid-gap: 4rem;

    grid-gap: 4rem;

    gap: 4rem
}
  }

@media (min-width: 1440px) {

:host([gap-size-xxl='medium']) aes-container {
    grid-gap: 2.5rem;

    grid-gap: 2.5rem;

    gap: 2.5rem
}
  }

@media (min-width: 1440px) {

:host([gap-size-xxl='small']) aes-container {
    grid-gap: 1rem;

    grid-gap: 1rem;

    gap: 1rem
}
  }

@media (min-width: 1440px) {

:host([gap-size-xxl='none']) aes-container {
    grid-gap: 0;

    grid-gap: 0;

    gap: 0
}
  }
