@layer components {
  /*
   * General AES Form Styles
   * -------------------------------------------------------------
   *
   * TABLE OF CONTENTS
   *
   *   1.0 - Labels
   *   2.0 - Inputs
   *   3.0 - Radio Buttons
   *   4.0 - Checkboxes
   *   5.0 - Selects
   *   6.0 - Textareas
   *   7.0 - Fieldsets
   *     7.1 - Details/Summary
   *     7.2 - Blockquotes
   *   8.0 - Legends
   *   9.0 - Buttons
   *  10.0 - Error Messages
   *  11.0 - Styles for Pardot Forms
   *    11.1 - Spacing between contiguous fields
   *    11.2 - Stacked Radio buttons and Checkboxes
   *    11.3 - Errors
   *    11.4 - Required Fields
   *    11.5 - Inline radios
   *  12.0 - Styles for Webforms
   *    12.1 - Spacing between contiguous fields
   *    12.2 - Required Fields
   *    12.3 - Descriptions
   *    12.4 - Checkboxes and Radio buttons layout
   *    12.5 - Layout variants
   *    12.6 - Buttons
   *    12.7 - Errors
   *    12.8 - Ajax fields (files)
   *  13.0 - Utility Classes
   *
   */

  .aes-form {
    & form {
      @apply bg-transparent;
    }

    /* 1.0 Labels
     * --------------------------------------------------- */
    & label {
      @apply block my-2 text-base text-neutrals-black leading-tight;

      &.inline {
        @apply inline-block mr-4 !important;
      }
    }

    /* 2.0 Inputs
     * --------------------------------------------------- */
    &
      input:not([type='color']):not([type='radio']):not([type='checkbox']):not([type='button']):not([type='submit']) {
      @apply my-2 py-4 px-8 max-w-full border border-solid border-neutrals-gray3 bg-neutrals-white rounded-full text-base text-neutrals-black leading-tight outline-none;

      &:focus {
        @apply border-signature-blue1 shadow-focus;

        &.error {
          @apply shadow-focus-error;
        }
      }

      &::placeholder {
        @apply text-neutrals-gray4;
      }

      &[disabled] {
        @apply bg-neutrals-gray2 text-neutrals-gray4;
      }

      &.error {
        @apply border-ui-error;
      }
    }

    /* 3.0 Radio Buttons
     * --------------------------------------------------- */
    & input[type='radio'] {
      @apply relative w-6 h-6 my-2 text-base text-neutrals-black leading-tight align-middle outline-none appearance-none;

      &::before {
        @apply absolute block w-6 h-6 rounded-full border border-solid border-neutrals-gray3;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked {
        &::before {
          @apply border-signature-blue1;
        }

        &::after {
          @apply absolute block w-4 h-4 rounded-full bg-signature-blue1;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &[disabled] {
        &::before {
          @apply border-neutrals-gray3;
        }

        &::after {
          @apply bg-neutrals-gray3;
        }

        & + label {
          @apply text-neutrals-gray4;
        }
      }

      &:focus {
        &::before {
          @apply shadow-focus;
        }
      }

      & + label {
        @apply ml-3 mr-10 text-base;
      }
    }

    /* 4.0 Checkboxes
     * --------------------------------------------------- */
    & input[type='checkbox'] {
      @apply relative w-6 h-6 my-2 text-base text-neutrals-black leading-tight align-middle outline-none appearance-none;

      &::before {
        @apply absolute block w-6 h-6 rounded-sm border border-solid border-neutrals-gray3;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked {
        &::before {
          @apply border-signature-blue1 bg-signature-blue1;
        }

        &::after {
          @apply absolute block w-4 h-4;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxLjQ1LjQ1TDcuNSAxNC40IDIuNTUgOS40NWMtLjYtLjYtMS41LS42LTIuMSAwLS42LjYtLjYgMS41IDAgMi4xbDYgNmMuMy4zLjYuNDUgMS4wNS40NS40NSAwIC43NS0uMTUgMS4wNS0uNDVsMTUtMTVjLjYtLjYuNi0xLjUgMC0yLjEtLjYtLjYtMS41LS42LTIuMSAweiIgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &[disabled] {
        &::before {
          @apply border-neutrals-gray3;
        }

        &:checked {
          &::before {
            @apply bg-neutrals-gray3 !important;
          }
        }

        & + label {
          @apply text-neutrals-gray4;
        }
      }

      &:focus {
        &::before {
          @apply shadow-focus;
        }
      }

      & + label {
        @apply ml-3 mr-10 text-base;
      }
    }

    /* 5.0 Selects
     * --------------------------------------------------- */
    & select {
      all: unset;
      @apply my-2 py-4 pl-8 pr-16 max-w-full box-border border border-solid border-neutrals-gray3 bg-neutrals-white rounded-full text-base text-neutrals-black leading-tight outline-none;
      background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAxNCI+CiAgPHBhdGggZD0iTTIgMmwxMCAxMEwyMiAyIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=');
      background-repeat: no-repeat, repeat;
      background-position: right 2rem top 50%, 0 0;
      background-size: 0.75rem auto, 100%;

      &:focus {
        @apply border-signature-blue1 shadow-focus;

        &.error {
          @apply shadow-focus-error;
        }
      }

      &[disabled] {
        @apply bg-neutrals-gray2 text-neutrals-gray4;
      }

      &.error {
        @apply border-ui-error;
      }

      &[multiple] {
        @apply px-8 overflow-y-auto rounded-none bg-none;
      }
    }

    /* 6.0 Textareas
     * --------------------------------------------------- */
    & textarea {
      @apply my-2 py-4 px-8 max-w-full border border-solid border-neutrals-gray3 bg-neutrals-white rounded-2xl text-base text-neutrals-black leading-tight outline-none;

      &:focus {
        @apply border-signature-blue1 shadow-focus;

        &.error {
          @apply shadow-focus-error;
        }
      }

      &[disabled] {
        @apply bg-neutrals-gray2 text-neutrals-gray4;
      }

      &.error {
        @apply border-ui-error;
      }
    }

    /* 7.0 Fieldsets
     * --------------------------------------------------- */
    & fieldset {
      @apply my-2 pt-3 pb-4 px-8 border border-solid border-neutrals-gray3 bg-neutrals-white rounded-2xl text-neutrals-black;
    }

    /* 7.1 Details/Summary
     * --------------------------------------------------- */
    & details {
      @apply my-8;
      & summary {
        @apply subheadline-2 mb-4 py-2 pr-4 pl-6 bg-neutrals-gray1 rounded-2xl;
      }
    }

    /* 7.2 Blockquotes
     * --------------------------------------------------- */
    & blockquote {
      @apply my-2 py-2 px-6 bg-neutrals-gray1 rounded-2xl;
    }

    /* 8.0 Legends
     * --------------------------------------------------- */
    & legend {
      @apply px-2 text-base text-neutrals-gray4;
    }

    /* 9.0 Buttons
     * --------------------------------------------------- */
    & button,
    & input[type='button'],
    & input[type='submit'] {
      /* TODO: when this is upgraded to Tailwind 2.x apply .btn and .btn.primary instead of setting the same styles here */
      @apply inline-block px-12 py-4 bg-signature-blue1 text-neutrals-white text-xl leading-tight rounded-full cursor-pointer transition-colors duration-300 font-body no-underline;

      &:hover,
      &:focus {
        @apply bg-signature-purple1;
      }

      &:disabled {
        @apply cursor-not-allowed text-neutrals-gray3 bg-neutrals-gray2;
      }

      &.with-arrow {
        @apply pr-16;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIHZpZXdCb3g9IjAgMCAyMiAxOCI+CiAgPHBhdGggZD0iTTAgMTBWOGgyMHYyeiIvPgogIDxwYXRoIGQ9Ik0xMS41ODYgMkwxMyAuNTg2IDIxLjQxNCA5IDEzIDE3LjQxNCAxMS41ODYgMTZsNy03eiIvPgo8L3N2Zz4K');
        background-repeat: no-repeat, repeat;
        background-position: right 2rem top 50%, 0 0;
        background-size: 1.35rem auto, 100%;
      }
    }

    /* 10.0 Error Messages
     * --------------------------------------------------- */
    & .error {
      /* Message errors below fields */
      &.no-label {
        @apply my-1 text-base text-ui-error;
      }
    }

    /* 11.0 Styles for Pardot Forms
    * --------------------------------------------------- */

    /* 11.1 Spacing between contiguous fields
     * --------------------------------------------------- */
    & .form-field {
      & + .form-field {
        @apply mt-8;
      }
    }

    /* 11.2 Stacked Radio buttons and Checkboxes
     * --------------------------------------------------- */
    & .form-field {
      &.pd-radio,
      &.pd-checkbox {
        & .value {
          @apply block my-3;
          & > span {
            @apply flex items-center;
          }
        }
      }
    }

    /* 11.3 Errors
     * --------------------------------------------------- */
    & .form-field {
      &.error {
        @apply mb-1;

        &
          input:not([type='color']):not([type='radio']):not([type='checkbox']):not([type='button']):not([type='submit']),
        & select,
        & textarea {
          @apply border-ui-error;

          &:focus {
            @apply shadow-focus-error;
          }
        }
      }
    }

    & .errors {
      @apply mb-8 text-lg text-ui-error;
    }

    /* 11.4 Required fields
     * --------------------------------------------------- */
    & .form-field {
      &.required {
        /* Required decoration for labels */
        & .field-label {
          &::after {
            @apply inline-block ml-1 text-ui-error;
            content: '*';
          }
        }
      }
    }

    /* 11.5 Inline radios
     * --------------------------------------------------- */
    & .form-field {
      &.pd-radio {
        &.inline-radio {
          @apply my-0;
          & label,
          & span {
            @apply inline-block;
          }
          & label.field-label {
            width: 150px;
          }
          & span.value {
            @apply my-0;
          }
        }
      }
    }

    /* 12.0 Styles for Webforms
     * --------------------------------------------------- */
    &.webform-submission-form {
      /* 12.1 Spacing between contiguous fields
       * -2------------------------------------------------- */
      & .form-item {
        & + .form-item,
        & + .fieldgroup,
        & + .form-checkboxes {
          @apply mt-8;
        }
      }

      & .form-checkboxes {
        & + .form-checkboxes {
          @apply mt-8;
        }

        & .form-item {
          @apply my-0;
        }
      }

      & .fieldgroup {
        & + .form-item {
          @apply mt-8;
        }
      }

      /* 11.2 Required Fields
       * --------------------------------------------------- */
      & .form-item {
        & .form-required {
          &::after {
            @apply inline-block ml-1 text-ui-error;
            content: '*';
          }
        }
      }

      /* 12.3 Descriptions
       * --------------------------------------------------- */
      & .form-item {
        & .description {
          @apply my-0 text-sm text-neutrals-gray3;
        }
      }

      /* 12.4 Checkboxes and Radio buttons layout
       * --------------------------------------------------- */
      & .form-item {
        &.js-form-type-checkbox,
        &.js-form-type-radio {
          @apply flex items-center mt-0;
        }
      }

      /* 12.5 Layout variants
       * --------------------------------------------------- */
      & .webform-options-display-two-columns {
        /* needed to override Webform styles for columns view using flex instead of `columns-count` */
        @apply flex flex-wrap;
        column-count: auto !important;

        & .form-item {
          @apply w-1/2;
        }
      }

      & .webform-options-display-three-columns {
        @apply flex flex-wrap;
        column-count: auto !important;

        & .form-item {
          @apply w-1/3;
        }
      }

      & .webform-options-display-side-by-side {
        @apply flex flex-row;

        & .form-item {
          @apply mr-10;
        }
      }

      /* 12.6 Buttons
       * --------------------------------------------------- */
      & .form-submit,
      & .submit {
        @apply my-10;
      }

      /* 12.7 Errors
       * --------------------------------------------------- */
      & .form-item--error-message {
        @apply block mb-8 text-base text-ui-error font-normal;
      }
    }

    /* 12.8 - Ajax fields (files)
     * --------------------------------------------------- */
    & .js-form-type-webform-document-file {
      @apply mt-2 mb-8;
      & .webform-document-file {
        & .button {
          @apply m-0 ml-4 py-2 px-4 text-base;
        }
      }
    }

    /* 13.0 Utility Classes
     * --------------------------------------------------- */
    &.aes-form--match-width {
      & .form-field,
      & .form-item {
        &
          input:not([type='color']):not([type='radio']):not([type='checkbox']):not([type='button']):not([type='submit']),
        & select,
        & textarea {
          @apply w-full;
          max-width: 670px;
        }
      }
    }
  }
}
