/* First Import all fonts */
@import './_fonts.css';

/* All tailwind directives */
@import './_tailwind.css';

/* All styles we want global */
@import './_wysiwyg.css';
@import './_heading.css';
@import './_list.css';
@import './_button.css';
@import './_forms.css';
@import './_table.css';

/* Fix FOUC - Apply this to the root HTML element or any web component to delay showing until Stencil hydrates it. */
.hide-until-hydrated:not(.hydrated) {
  visibility: hidden;
}

@layer components {
  /* Allow img tags within pictures to fully expand */
  picture {
    @apply block;
  }

  picture img {
    @apply flex object-cover;
  }

  .menu-link {
    @apply inline-block text-neutrals-black no-underline text-xl leading-8;

    &.active {
      @apply text-signature-blue1 border-0 border-b-2 border-solid border-signature-blue1;
    }

    &:hover {
      @apply text-signature-blue1;
    }

    @screen lg {
      @apply text-base leading-normal;
    }
  }

  .sub-menu-link {
    @apply menu-link text-neutrals-black font-normal text-base mt-4;
  }

  .sub-menu-link[data-bold='1'] {
    @apply font-bold;
  }

  .sub-menu-header {
    @apply text-base text-neutrals-black font-bold mt-6;
  }

  .sub-menu-header > a {
    @apply sub-menu-link font-bold mt-0;
  }

  .sub-menu-header > a[data-bold='1'] {
    @apply font-bold;
  }

  .keen-slider__slide {
    @apply self-stretch;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
