:host {
  display: block;
  --bg-opacity: 1;
  background-color: rgb(245, 245, 245);
  background-color: rgba(245, 245, 245, var(--bg-opacity));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

@media (min-width: 1024px) {

:host {
    padding-top: 3rem;

    padding-bottom: 3rem
}
  }

::slotted([slot='menus']) {
  grid-column: span 12 / span 12
}

@media (min-width: 768px) {

::slotted([slot='menus']) {
    grid-column: span 6 / span 6
}
  }

@media (min-width: 1024px) {

::slotted([slot='menus']) {
    grid-column: span 3 / span 3
}
  }

::slotted(p[slot='copyright']) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

::slotted(aes-menu-accordion) {
  margin-bottom: 2rem
}

@media (min-width: 768px) {

::slotted(aes-menu-accordion) {
    margin-bottom: 0
}
  }

.interactions {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

@media (min-width: 768px) {

.interactions {
    flex-direction: row;

    flex-shrink: 1;

    justify-content: space-between;

    align-items: center
}
  }

slot[name='social-links'] {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  justify-content: space-between
}

@media (min-width: 768px) {

slot[name='social-links'] {
    justify-content: flex-start;

    margin-top: 0;

    margin-bottom: 0
}
  }

@media (min-width: 768px) {

::slotted([slot='social-links']) {
    margin-right: 2rem
}
  }
