[Unit]
Description=Mount unit for gtk-common-themes, revision 1519
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_1519.snap
Where=/snap/gtk-common-themes/1519
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
