[Unit]
Description=Mount unit for gnome-3-34-1804, revision 90
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/gnome-3-34-1804_90.snap
Where=/snap/gnome-3-34-1804/90
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
