
#block-views-block-contact-us-block-1{
    width: 100vw;
}
#block-views-block-contact-us-block-1 .view-content{
    text-align: center;
}
#block-views-block-contact-us-block-1 header a{
    color: black;
font-size: 35px;
font-family: myfont;
font-weight: bold;
border: none;
}
#block-views-block-contact-us-block-1 p{
    color: #444444;
    font-size: 18px;
    width: 550px;
    margin: auto;
}
.field--name-field-map
{
    margin-top: 40px;
}
#block-webform,
#block-views-block-contact-info-block-1{
    width: 100vw;
}
#block-webform .content,
#block-views-block-contact-info-block-1 .content{
    width: 70%;
    margin: auto;
    text-align: center;
}
#edit-subject{
    width: 100%;
}
#block-webform #edit-actions-submit{
    background-color:#ffb03b ;
    color: white;
}
#block-webform #edit-actions-submit:hover{
background-color: #ffa012;
}
#block-views-block-contact-info-block-1 .view-content{
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    text-align: left;
    font-size: 0.8vw;
}
#block-views-block-contact-info-block-1 .content{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    /* padding: 30px; */
    margin-top: 50px;
}
#block-webform{
    margin-top: -40px;
}
#block-views-block-contact-info-block-1 h2 a{
    color: black;
    border: none;

}
#block-views-block-contact-info-block-1 .views-row{
    position: relative;
}
#block-views-block-contact-info-block-1 .views-row:nth-child(1)::before{
    content: url(geo-alt.svg);
    /* background: url(geo-alt.svg) no-repeat ; */
    position: absolute;
    
}
#block-views-block-contact-info-block-1 .views-row:nth-child(2)::before{
    content: url(clock.svg);
    position: absolute;
}
#block-views-block-contact-info-block-1 .views-row:nth-child(3)::before{
    content: url(envelope.svg);
    position: absolute;
}
#block-views-block-contact-info-block-1 .views-row:nth-child(4)::before{
    content: url(phone.svg);
    position: absolute;    
}

#block-views-block-contact-info-block-1 .views-row:nth-child(1)::before,
#block-views-block-contact-info-block-1 .views-row:nth-child(2)::before,
#block-views-block-contact-info-block-1 .views-row:nth-child(3)::before,
#block-views-block-contact-info-block-1 .views-row:nth-child(4)::before{
    top:20px;
    left: -54px;
    background-color: #fff6e8;
    padding: 9px 12px;
    border-radius: 50%;
}
#block-views-block-contact-info-block-1 .views-row:hover::before{
    background-color: #ffa012;
    transition: all 0.3s ease-in-out;
}
#block-views-block-contact-info-block-1 .views-row:hover:nth-child(1)::before{
    content: url(geo-alt1.svg);
    transition: all 0.3s ease-in-out;
}
#block-views-block-contact-info-block-1 .views-row:hover:nth-child(2)::before{
    content: url(clock1.svg);
    transition: all 0.3s ease-in-out;
}
#block-views-block-contact-info-block-1 .views-row:hover:nth-child(3)::before{
    content: url(envelope1.svg);
    transition: all 0.3s ease-in-out;
}
#block-views-block-contact-info-block-1 .views-row:hover:nth-child(4)::before{
    content: url(phone1.svg);
    transition: all 0.3s ease-in-out;
}

input{
    padding-left:20px;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    
    #block-views-block-contact-info-block-1 .views-row{
        font-size: 1.5vw;
    }

    #block-webform .content,
    #block-views-block-contact-info-block-1 .content{
      width: 90vw;
    }
    #block-views-block-contact-info-block-1 .view-content{
       padding: 0 80px;
       /* justify-content: space-between; */
       grid-template-columns: auto auto;
       justify-content: space-between;
    }
    #block-views-block-contact-us-block-1 p,
    #edit-actions-submit{
        width: auto;
    }

}

@media screen and (min-width: 0px) and (max-width: 767px) {
    
    #block-webform .content,
    #block-views-block-contact-info-block-1 .content{
    width: 95vw;
    margin: auto;
    text-align: center;
}
#block-views-block-contact-us-block-1 p,
#edit-actions-submit{
    width: auto;
}

#block-views-block-contact-info-block-1 .view-content{
    grid-template-columns: auto;
    text-align: left;
}
}