.layout-container{
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
  }
/*  */

#header{
    background-color:  transparent;
    background-image: none;

}
#block-delicious-main-menu {
    width:42vw;
    margin: 29px 2vw;
    border: none;
   
}
/* #block-delicious-main-menu .content ul{
    display: flex;

    font-size: 1.2vw;
} */
/* #block-delicious-main-menu .content ul a:hover{
    color:#ffb03b;
    background-color: transparent;
} */
.block-superfish{
    width: auto;
    margin-top: 12px ;
}
#block-mainnavigation .content ul{
    margin-top: 12px;
}
#block-mainnavigation .content ul li:nth-child(8) ul{
    background-color: white;
}
#block-mainnavigation .content ul li:nth-child(8) ul li a{
color: black;
}
#superfish-book-a-table li a{
    margin-top: 15px;
    background-color:  #ffa012;
    border-radius: 25px;
}
#superfish-book-a-table li a:hover{
    background-color: #f79707;
}
#block-mainnavigation ul.sf-menu a{
    font-size: 0.8vw;
}
#block-mainnavigation .content ul li a:hover{
    color: #ffa012;
}

 #header .region-header {
    display: flex;
    justify-content: space-evenly;

    width: 100vw;
    /* opacity: 0.8; */
    position: fixed;
    top:0;
    z-index: 2;
    background: transparent;

} 
#header .region-header::before{
    content: "+1 555 5555 555  Mon-Sun: 11:00 AM - 23:00 PM";
    display: block;
    position: absolute;
    background-color:transparent;
    left: 17vw;
}
.site-branding__name{
    font-size: 35px;
    padding-top: 5px;
    margin-right: 3vw;
}
#block-mainnavigation a span{
    display: none;
}
#block-bookatable-2,
#block-mainnavigation{
    margin-top: 17px;
}
.flex-control-paging li a.flex-active{
    background-color: white;
}
.flex-control-paging li a{
    background-color: rgb(136, 135, 135);
    border-radius: 0px;
}
#block-bookatable-2{
    position: relative;
  }
  #block-bookatable-2 img{
    display: none;
  }

 

@media screen and (max-width: 991px) {
    #block-mainnavigation{
        display: none;
    }
    #block-bookatable-2 img{
        display: block;
      }
      #block-mainnavigation{
        position: absolute;
        top: 60px;
        background-color: white;
        right: 0;
      }
      #block-mainnavigation ul{
        display: flex;
        flex-direction: column;
        width: 50vw;

      }
      #block-mainnavigation li a{
        color:black;
        font-size: 22px;
      }
      #block-mainnavigation li{
        text-align: left;
      }
      .site-branding__name{
        margin-top:20px;
    }
    
}
@media only screen and (max-width: 768px) {
 
    #block-delicious-main-menu{
        display: none;
    }
    #block-bookatable::after{
        display:inline-block;
    }   

    .site-branding__name{
        margin-top:20px;
    }
    #block-bookatable-2 .content{
        background-color:  #ffa012;
        padding: 10px;
        border-radius: 30px;
        margin-top: 10px;
    }
    #block-mainnavigation .content{
        margin-top: 9px;
    }
    div.sf-accordion-toggle.sf-style-black a{
        padding: 2em 4em 2em 1em;
        background: transparent;
        border: 1px solid white;
    }
    #block-bookatable-2 .content:hover{
        background-color: #f79707;
    }
    div.sf-accordion-toggle.sf-style-black > a::after{
        font-size: 3em;
    }
    #block-mainnavigation ul.sf-menu a{
        font-size: 15px;
    }
    #block-mainnavigation .content ul{
        width: 345px;
    }
 

}
/* #header a{
    color: red;
} */


/* .messages__wrapper {
    display: none;
}