a {
  text-decoration: none;
  font-family: neue-haas-grotesk-text, Helvetica, Arial, sans-serif;
  --text-opacity: 1;
  color: rgb(33, 74, 222);
  color: rgba(33, 74, 222, var(--text-opacity));
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms
}
a:visited,
  a:hover {
    --text-opacity: 1;
    color: rgb(140, 92, 242);
    color: rgba(140, 92, 242, var(--text-opacity));
  }
