:host {
  display: block;
}

.slides-wrapper {
  position: relative;
}

.slides-button {
  display: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  --border-opacity: 1;
  border-color: rgb(229, 229, 229);
  border-color: rgba(229, 229, 229, var(--border-opacity));
  opacity: 0.75;
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer
}

@media (min-width: 768px) {

.slides-button {
    display: flex
}
  }

.slides-button:hover,
  .slides-button:focus {
    opacity: 1;
  }

.slides-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px rgb(33, 74, 222);
  }

.slides-button aes-icon {
  opacity: 0.75;
  width: 0.75rem;
}

.slides-previous {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.slides-next {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.slides-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  border-style: none;
  --bg-opacity: 1;
  background-color: rgb(229, 229, 229);
  background-color: rgba(229, 229, 229, var(--bg-opacity));
  cursor: pointer;
  text-indent: -9999px
}

.dot:focus,
  .dot:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px rgb(33, 74, 222);
  }

.dot + .dot {
    margin-left: 0.5rem;
  }

.dot--active {
  --bg-opacity: 1;
  background-color: rgb(191, 191, 191);
  background-color: rgba(191, 191, 191, var(--bg-opacity));
}

/**
 * Keen Slider styles from:
 * ../../../node_modules/keen-slider/keen-slider.min.css
 */

::slotted(.keen-slider) {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

::slotted(.keen-slider[data-keen-slider-v]) {
  flex-wrap: wrap;
}

::slotted(.keen-slider[data-keen-slider-moves] *) {
  pointer-events: none;
}

/* end Keen Slider styles */
