:host {
  display: block;
}

aes-card {
    @media (min-width: 640px) {
  :host([news-type='external']) & {
      flex-direction: row
  }
    }
}

div[slot='content'] {
    @media (min-width: 640px) {
  :host([news-type='external']) & {
      margin-left: 1.25rem
  }
    }
}

hr {
  width: 33.333333%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 0;
}
