
<div id="special">
  <div class="special_text">
    <div class="special_label">{{ node.label }}</div>
    <div class="special_body">{{ content.body }}</div>
  </div>  
  <div class="special_image">{{ content.field_image.0 }}</div>
</div>