{# 
<div class="gallery_image">
    {{ content.field_image.0 }}
</div> #}



<div class="gallery_image">
    
<a data-fancybox="gallery-a" href="{{ file_url(node.field_image.entity.uri.value) }}">
 <img src="{{ file_url(node.field_image.entity.uri.value) }}" />
 </a>
</div>
