
<div id="our_chef">
 
    
        <div class="chef_image">{{ content.field_image.0 }}</div>
      <div class="info_box">
        <div class="chef_name">{{ node.label }} </div>
        <div class="chef_position">{{ content.field_position.0 }} </div>
        <div class="add_to_any">{{ content.addtoany }}</div>
      </div>
  </div>

