
<div class="our_menu wow fadeInUp">
  <div class="menu_content">
    <div class="name">{{ node.label }} </div>
    <div class="price">{{ content.field_price.0 }}</div>
   </div> 
    <div class="text">{{ content.body }} </div>
  
  </div>




