:host {
  display: block;
}

.button-text {
  display: none;
  margin-left: 0.75rem
}

@media (min-width: 1280px) {

.button-text {
    display: inline
}
  }

aes-icon {
  display: inline-block;
  width: 1.5rem;
}
