:host {
  @apply relative block;
}

:host::before {
  @apply absolute block w-full h-full;
  content: '';
}

:host([direction='horizontal']) {
  @apply h-3;
}

:host([direction='vertical']) {
  @apply w-3 min-h-screen;
}

:host([direction='vertical'])::before {
  @apply w-3 min-h-screen bg-rainbow-gradient-y;
}

:host([direction='horizontal'])::before {
  @apply h-3 bg-rainbow-gradient-x;
}

:host([display-animated]:not([display-animated='false'])[direction='vertical'])::before {
  @apply min-h-0 h-1;
  opacity: 0.1;
}

:host([display-animated]:not([display-animated='false'])[direction='vertical'].animate)::before {
  @apply h-full opacity-100;
  transition: height var(--animation-duration, 1s) ease-in;
}

:host([display-animated]:not([display-animated='false'])[direction='horizontal'])::before,
:host([display-animated='']:not([display-animated='false'])[direction='horizontal'])::before {
  @apply min-w-0 w-1;
  opacity: 0.1;
}

:host([display-animated]:not([display-animated='false'])[direction='horizontal'].animate)::before,
:host([display-animated='']:not([display-animated='false'])[direction='horizontal'].animate)::before {
  @apply w-full opacity-100;
  transition: width var(--animation-duration, 1s) ease-in;
}
