:host {
  @apply block w-full h-full-screen-h relative text-neutrals-white;
}

/* Background */
.bg-container {
  @apply absolute inset-0 bg-neutrals-black;
}

video,
iframe,
::slotted([slot='bg-image']) {
  @apply flex object-cover object-center w-full h-full opacity-40 !important;
}

/* Hide static bg image by default */
@media (prefers-reduced-motion: no-preference) {
  ::slotted([slot='bg-image']) {
    @apply hidden !important;
  }
}

/* Low-motion users should see only static image */
@media (prefers-reduced-motion: reduce) {
  video,
  iframe {
    @apply hidden !important;
  }
}

/* Container */
aes-container {
  @apply relative;
}

aes-container,
aes-grid,
.content {
  @apply h-full-screen-h relative;
}

/* Controls */
.controls {
  @apply absolute flex left-0 right-0 justify-between;
  top: 50%;
  /* Hide while design team determines nav */
  display: none;
}

.slides {
  @apply relative flex-1;
}

.progress {
  padding-bottom: 10vmin;
}

.pips {
  @apply flex justify-center;
}

.pip {
  @apply p-4;
}

.pip-inner {
  @apply w-4 h-4 rounded-full bg-neutrals-white bg-opacity-40;
  text-indent: -9999px;
}

.pip--active {
  @apply bg-opacity-100;
}

/**
 * Slotted content styling
 */
::slotted([slot='slides']) {
  @apply opacity-0 absolute pointer-events-none;
  top: 50%;
  transform: translateY(-50%);
}

::slotted(.show) {
  @apply opacity-100 pointer-events-auto;
  transition: opacity 1.5s ease-in-out;
}
